[jenkins]
{{ jenkins_ip }} ansible_ssh_user=ubuntu ansible_ssh_private_key_file="{{ playbook_dir }}/{{ vault['aws_key_name']}}.pem" ansible_python_interpreter=/usr/bin/python host_key_checking=false

[itrust]
{{ itrust_ip }} ansible_ssh_user=ubuntu ansible_ssh_private_key_file="{{ jenkins_playbook_dir }}/{{ vault['aws_key_name']}}.pem" ansible_python_interpreter=/usr/bin/python3 host_key_checking=false

[checkbox]
{{ checkbox_ip }} ansible_ssh_user=ubuntu ansible_ssh_private_key_file="{{ jenkins_playbook_dir }}/{{ vault['aws_key_name']}}.pem" ansible_python_interpreter=/usr/bin/python3 host_key_checking=false
